* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:rgb(208, 239, 255);
    font-family: "SN Pro", sans-serif;
}

header {
    
}

main {
    
}

h1 {
    font-family: "Limelight", sans-serif;
}

h2 {
    font-family: "Story Script", sans-serif;
    font-weight: bold;
}

p {
    font-family: "SN Pro", sans-serif;
}

input {
    font-family: "SN Pro", sans-serif;
    border-radius: 8px;
}

ul {
    font-family: "SN Pro", sans-serif;
}

li {
    font-family: "SN Pro", sans-serif;
    margin-top: 10px;
    font-size: 25px;
}

button {
    font-family: "SN Pro", sans-serif;
    background-color: rgb(198, 226, 250);
    border-radius: 8px;
}

button:hover {
    background-color: rgb(156, 177, 197);
}

.valid {
    color: red;
}

.panel {
    border: 10px solid rgb(123, 166, 174);
    border-radius: 40px;
    padding: 50px;
    background-color:rgb(255, 255, 255);
}

.total {
    font-size: 20px;
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .reflection {
        grid-column: span 2;
    }
}